<% if current_user %>
  <div>
    <span><%= link_to 'Your Storyfeed', stories_path %></span>
    <span><%= link_to 'Share a Story', new_story_path %></span>
    <span><%= link_to 'Edit Account Information', edit_user_registration_path %></span>
    <span><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></span>
  </div>
<% end %>
